.left_container{
    width: 24%;
    height: 100vh;
    background: #FFFFFF;
    float: right;
    border-radius: 8px 0px 0px 8px;
    padding-left: 24px ;
}
.top_title{
    /* Tá»•ng quan */
margin-top: 100px;
font-family: Nunito;
font-style: normal;
font-weight: bold;
font-size: 24px;
line-height: 36px;
color: #FF7506;
}
.ov_total_option{
    margin:20px 0 20px 0;
    padding: 0px 10px 0px 0px;
}
.ov_option1,.ov_option2,.ov_option3{
    height: 88%;
    padding: 22px;
    margin-bottom: 10px;
    background: #FFFFFF;
    box-shadow: 2px 2px 15px rgba(70, 64, 67, 0.1);
    border-radius: 12px;
    display: flex;
    padding: 15px auto;
}

.left_option_1,.left_option_2,.left_option_3{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 45px;
}
.middle_left_option_1,.middle_left_option_2,.middle_left_option_3{
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 40px;
}
.device_number{
    margin: 0;
    padding: 0;
}
.device_number,.service_number,.level_number{
    width: 64px;
height: 36px;
left: 88px;
top: 14px;

font-family: Nunito;
font-style: normal;
font-weight: 800;
font-size: 24px;
line-height: 36px;

color: #535261;
}
.middle_left_option2{
    margin:0 37px;
}
.service_title{
width: 48px;
height: 21px;
left: 106px;
top: 47px;

font-family: Nunito;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;

color: #4277FF;

}
.device_title{
    width: 49px;
height: 21px;
left: 106px;
top: 47px;
font-family: Nunito;
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 21px;
color: #FF7506;
}
.level_title{
    width: 44px;
    height: 21px;
    left: 106px;
    top: 47px;
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    color: #35C75A;
}
.dot_1,.dot_2,.dot_3,.dot_4,.dot_5{
width: 10px;
height: 10px;
margin-right: 5px;
size: 10px;
font-size: 4px;
/* Gray/$-gray-300 */
color: #FF7506;
}
.dot_1{
    color: #FFD130;
}
.dot_2{
    color: #7E7D88;
}
.dot_3{
    color: #4277FF;
}
.dot_4{
    color: #35C75A;
}
.dot_5{
    color: #F178B6;
}
.middle_right_option_1,.middle_right_option_2,.middle_right_option_3 ,.right_option_3,.right_option_1,.right_option_2{
    margin-top: auto;
    margin-bottom: auto;
}
.middle_right_option_1 div,.middle_right_option_2 div,.middle_right_option_3 div, .right_option_3 div,.right_option_1 div,.right_option_2 div{
    padding-bottom : 5px;
}
.right_number_1,.right_number_2,.right_number_3,.right_option_3,.right_option_1,.right_option_2{
    font-family: Nunito;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
}
.right_option_3,.right_option_1,.right_option_2{
    margin-left: auto ; 
    margin-bottom: auto;
    margin-top: auto;
}
.right_option_1{
    color: #FF7506;
}
.right_option_2{
    color: #4277FF;
}
.right_option_3{
    color: #35C75A;
}
.option_title{
    font-family: Nunito;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 21px;

color: #7E7D88;

}