.total_container{
    background-color: #F6F6F6;
    height: 100vh;
    width: 100%;
}
.container{
    
}
.container .left_container{
    background-color:white;
    width: 15%;
    height: 100vh;
    float: left;
}
.container .left_container .logo_login{
    
}
.container .left_container .logo_login img{
    width: 40%;
    height: 8%;
    margin: 4% 30% 0px 30%;

}
.container .left_container ul{
    padding: 54px 24px 0 24px;
    background-color: white;
}
.container .left_container ul li{
    list-style: none;
    height: 48px;
    
}
.container .left_container ul li img{
    filter: invert(0.2);
    height: 14px;
}
.container .left_container ul li div{
    list-style: none;
    padding: 12px 0px 12px 0px;
    font-size: 16px;
    color:#7E7D88;
    line-height: 24px;
    line-height: 110%;
}
.container .left_container ul li div a{
    margin-left: 8px;
}
.container .left_container ul li span{
    color:#A9A9B0;
    padding: 3px 0;
    float: right;
    width: 1px;
}
.container .left_container ul li .logout_button{
    position: absolute;
    padding: 12px 70px 12px 15px;
    bottom: 0;
    background-color: #FFF2E7;
    border-radius: 8px;
    size: 16px;
    line-height: 24px;
    line-height: 110%;
    color: #FF7506;
    margin: 0px 0px 30px 0px;
}
.container .left_container .vertical_navbar{
}
.container .right_container{
    width: 85%;
    height: 100vh;
    float: right;
}
.container .right_container .top_content{
    background-color: cornsilk;
    margin: 0 0 0 2%;
}
.container .right_container .top_content .left_title{
    margin-top: 2.5%;
    float: left;
}
.container .right_container .top_content .left_title p{
    font: bold;
    size: 2.5%;
    line-height: 30px;
    line-height: 110%;
    margin: 0;
    color: #FF9138;
    font-size: 20px;
    white-space: nowrap;
    font-style: bold;
    
}
.container .right_container .top_content .right_title{
    float: right;
    width: 15%;
    padding:12px 0;
}
.container .right_container .top_content .right_title .alarm_button{
    position: relative;
    display: inline-block;
}
.alarm_button .alarm_button_icon{
    padding: 6px;
    background-color: #FFF2E7;
    color:#FFAC6A;
    border-radius: 32px;
    margin: 6px 0 0 0;
}
.container .right_container .top_content .right_title .alarm_button .dropdown-content{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
.container .right_container .top_content .right_title .alarm_button:hover .dropdown-content{
    display: block;
}
.container .right_container .top_content .right_title .user_account div{
    padding: 0px 0px 0px 24px ;
    display: flex;
}
.container .right_container .top_content .right_title div div{
    float: left;
}
.container .right_container .top_content .right_title .user_account div p{
    margin: 0;
}
.container .right_container .middle_content{
    background-color: white;
    border-radius: 6px;
    margin: 10% 15% 30% 2%;
    padding: 5% 2% 5% 2%;
    display: flex;
    position: relative;
}
.container .right_container .middle_content .left_title,.middle_title,.right_title{
    margin: 2%;
    width: 432px;
}
.container .right_container .middle_content .left_title{
    text-align: center;
}

.container .right_container .middle_content .left_title .top_img .logo_camera{
    border: solid 1 px;
    padding: 11px;
    background-color: #FF7506;
    border-radius:20px ;
    top: 290px;
    left: 300px;
    position: absolute;
    border: 2px solid white;
    color: white;
}
.container .right_container .middle_content .left_title .bottom_username{
    font-size: 24px;
    line-height: 36px;
    line-height: 110%;
    color: #282739;
}
.container .right_container .middle_content .left_title .bottom_username p{
    
}
.container .right_container .middle_content div div div input{
    width: 100%;
    height: 44px;
    background-color: #EAEAEC;
    border: none;
    border-radius: 6px;
    padding-left: 16px;
}
.container .right_container .middle_content div div div p{
    border: none;
    border-radius: 6px;
}
.container .right_container .middle_content .middle_title p{
    border: none;
    border-radius: 6px;
}