.container{
    width: 100%;
    height: 100vh;
}
.container .left_content{
    float: left;
    width: 40%;
    height: 100vh;
    background-color:#F6F6F6;
}
.container .left_content .logo_alta{
    width: 29%;
    height: 17%;
    margin: 10% 36% 12% 35%;
    text-align: center;
}
.container .left_content .login_form .reset_pw_title{
    margin-right: 150px;
}
.container .left_content .login_form .reset_pw_title p{
    text-align: center;
    font-weight: bold;
    font-size: 22px;
    line-height: 33px;
    line-height: 110%;
    vertical-align: top;
}

.login_form{
    margin: 10% 0 0 15%;
}
.login_form .login_username_input{
    width: 400px;
    height: 44px;
}
.login_form .login_username_input .input_username{
    border-radius: 8px;
    margin-top: 4px;
    border: solid gray 1px;
    padding: 9px 259px 9px 12px;
}
.login_form .login_password_input{
}
.login_form .login_password_input .input_password{
    border-radius: 8px;
    margin-top: 4px;
    border: solid gray 1px;
    padding: 9px 259px 9px 12px;
}
.login_form .login_username_input .eye_icon_top{
    float: right;
    margin-right: -30px;
    margin-top: -25px;
    position: relative;
    color: #7E7D88;
}
.login_form .login_password_input .eye_icon_bottom{
    float: right;
    margin-right: 210px;
    margin-top: -25px;
    position: relative;
    color: #7E7D88;
}
.login_form .login_button .login_button_signin{
    margin-top: 8%;
    background-color: #FF9138;
    border-radius: 6px;
    padding: 8px 40px 8px 40px;
    border: 0px;
    font-style: bold;
    color: white;
    font-size: 16px;
    line-height: 24px;
    line-height: 110%;
    vertical-align: top;
    text-align: center;
    margin-left:25%;
}

.login_form .login_forgot_password p{
    font-size: 14px;
    line-height: 21px;
    line-height: 110%;
    vertical-align: top;
    color: #E73F3F;
}

.container .right_content{
    float: right;
    width: 60%;
    height: 100vh;
    background-color: white;
}




.container .right_content .img_bg_gruop1{
    margin: 19% 11% 12% 5%;
}