.container{
    width: 100%;
    height: calc(79vh + 5px);

}
.top_container{
    padding: 3% 3% 0% 3%;
}
.bottom_container{
    padding: 0% 3% 0% 3%;
}
.content_container{
    margin-left: 5%;
    width: 100%;
    height: calc(100vh - 32%);
    background-color: #FFFFFF;
    box-shadow: 2px 2px 8px rgba(232, 239, 244, 0.8);
    border-radius: 16px;
}

/* Add device */
.add_device{
    float: right;
    background: #FFF2E7;
    position: absolute;
    width: 80px;
    height: 94px;
    right: 0;
    top: 20%;
}

.total_add_device{
    padding:10px 0px 10px 0px;
    background-color: #FFF2E7;
}
.add{
    margin:12px 25px 10px 25px;
    padding: 6px;
background: #FF9138;
border-radius: 8px;
color: white;
}
.add_title{
    font-weight: 600;
font-size: 14px;
line-height: 19px;
text-align: center;
color: #FF7506;
}
/* content */
.middle_content{
    display: flex;
    justify-content: space-between;
    padding: 0 35% 0 0;
    column-gap: 4em;
}
.middle_content >.sub_title{
    margin-left: 20px;
}
.top_content{
    font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 30px;
/* identical to box height, or 150% */


/* Orange/$-Orange-500 */

color: #FF7506;
}
.main_title{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    
    align-items: center;
    color: #282739; 
    order: 0;
    flex-grow: 0;
}
.sub_title{
    font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */

align-items: center;
color: #535261;
padding-left: 43px;
}
.content_title{
    padding: 16px 16px 16px 0;
}
.used_title{
    flex-direction: column;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    
    align-items: center;
    color: #535261;
    padding-top: 5px;
}