.statistics{
    display: flex;
    width: 80%;
}
.total_info{
    padding: 24px 14px 24px 14px;
    margin: 22px;
}

.top_info,.bottom_info{
    display: flex

}
.around_icon_1{
    background: #E8EFFE;
    width: 48px;
    height: 48px;
    margin: 0px 15px 20px 0px;
}
.around_icon_1 img,.around_icon_2 img,.around_icon_3 img,.around_icon_4 img{
    margin: 12px;
}
.around_icon_2{
    background: #E1F7E6;
    width: 48px;
    height: 48px;
    margin: 0px 15px 20px 0px;
}
.around_icon_3{
    background: #FFF3E9;
    width: 48px;
    height: 48px;
    margin: 0px 15px 20px 0px;
}
.around_icon_4{
    background: #FEE9E9;
    width: 48px;
    height: 48px;
    margin: 0px 15px 20px 0px;
}
.right_icon_title{
    width: 80px;
height: 36px;
left: 72.02px;
top: 14px;

/* 14/14 Bold */

font-family: Nunito;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 18px;

color: #535261;
}
.top_info div{
    border-radius:50px ;
}
.top_info img{
    text-align: center;
    float: left;
}
.statistics .total_info{
    border-radius: 10px;
    background: white;
    width: 100%;
    height: 6%;  
}
/* 
.bottom_info h2{
    margin-top: 35px;
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 45px;
color: #535261;

} */
.bottom_info a{
    float: right;
}
.arrow_up{
    color: #FF9138;
    background-color:rgba(255, 149, 1, 0.15); ;
    border-radius:15px ;
    padding: 3px;
    height: 14px;
    font-size: 10px;
    margin-left: auto;
    margin-top: auto;
}
.arrow_down{
    color: #E73F3F;
    background-color:rgba(231, 63, 63, 0.15); 
    border-radius:10px ;
    height: 14px;
    font-size: 10px;
    margin-left: auto;
    margin-top: auto;
}
.number_info{
font-style: normal;
font-weight: bold;
font-size: 30px;
line-height: 45px;
color: #535261;
margin-bottom: auto;
margin-right: auto;
}
.charts{
    margin: 0 60px 0 60px;
    width: 1000px;
    height: 520px;
    background-color: white;
    border-radius: 12px;
    align-items:center ;
    justify-content: center;
    padding: 0px 34px 0px 34px;
}
.total_charts{
    display: flex;
}
.charts_left_title{
}
.charts_right_title{
    display: flex;
    margin-left:auto ;
}
.charts_left_title .top_title{
font-family: Nunito;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 30px;
color: #282739;
}
.charts_left_title .bottom_title{
font-family: Nunito;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;
color: #A9A9B0;
}
.charts_right_title .left_title{
    padding-top: 25px;
    padding-bottom: 25px;
    
/* 16/16 Semi */

font-family: Nunito;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */


/* Gray/$-gray-500 */

color: #282739;
}